body {
    text-align: center;
    background-image: url("https://www.funbrain.com/assets/img/content-cards/F2qRmLhRnmebc8jJAUjr_GuessTheNumber%403x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wstep {
    color: #000000;
    margin: 80px 0;
    font-weight: bold;
}

#nr_game, #check {
    font-size: 1.5em;
}

#answer {
    font-size: x-large;
    color: #000000;
}

#count {
    font-size: large;
    font-weight: bold;
}